<form id="busqueda">
    <div class="row">
        <div class="col-md-6">
            <select class="form-select" id="area" aria-label="Default select example">
                <option selected>Selecciona el area ejecutora del cual deseas saber su
                    información</option>
                <option value="1">Area 1</option>
                <option value="2">Area 2</option>
                <option value="3">Area 3</option>
            </select>
            <div id="emailHelp" class="form-text">Este campo es requerido.</div>
        </div>
        <div class="col-md-3">
            <button type="submit" for="busqueda" class="btn btn-success">Buscar</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#avanzada"
                role="button" aria-expanded="false" aria-controls="avanzada">Busqueda avanzada</button>
        </div>
    </div>
    <div class="collapse" id="avanzada">
        <div class="m-2 card">
            <div class=" card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label for="area" class="form-label">Año</label>
                        <select class="form-select" id="area" aria-label="Default select example">
                            <option selected>Selecciona</option>
                            <option value="1">2019</option>
                            <option value="2">2020</option>
                            <option value="3">2021</option>
                            <option value="4">2022</option>
                            <option value="5">2023</option>
                            <option value="6">2024</option>
                        </select>
                    </div>
                    <div class="col-md-8">
                        <label for="area" class="form-label">Programa</label>
                        <select class="form-select" id="area" aria-label="Default select example">
                            <option selected>Selecciona</option>
                            <option value="1">2019</option>
                            <option value="2">2020</option>
                            <option value="3">2021</option>
                            <option value="4">2022</option>
                            <option value="5">2023</option>
                            <option value="6">2024</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <label for="area" class="form-label">Región</label>
                        <select class="form-select" id="area" aria-label="Default select example">
                            <option selected>Selecciona</option>
                            <option value="1">2019</option>
                            <option value="2">2020</option>
                            <option value="3">2021</option>
                            <option value="4">2022</option>
                            <option value="5">2023</option>
                            <option value="6">2024</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="area" class="form-label">Distrito</label>
                        <select class="form-select" id="area" aria-label="Default select example">
                            <option selected>Selecciona</option>
                            <option value="1">2019</option>
                            <option value="2">2020</option>
                            <option value="3">2021</option>
                            <option value="4">2022</option>
                            <option value="5">2023</option>
                            <option value="6">2024</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="area" class="form-label">Municipio</label>
                        <select class="form-select" id="area" aria-label="Default select example">
                            <option selected>Selecciona</option>
                            <option value="1">2019</option>
                            <option value="2">2020</option>
                            <option value="3">2021</option>
                            <option value="4">2022</option>
                            <option value="5">2023</option>
                            <option value="6">2024</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>