<div class="col-md-12 text-center m-5">
    <h1>PUB Consulta</h1>
</div>
<form (submit)="buscar()" novalidate autocomplete="off" [formGroup]="busquedaForm">
    <div class="row">
        <div class="col-md-6">
            <select formControlName="area" class="form-select">
                <option selected value="">Selecciona el area ejecutora del cual deseas saber su
                    información</option>
                @for (area of areas ; track area._id) {
                <option [ngValue]="area._id">{{area.nombrecompleto}}</option>
                }
            </select>
            <div id="emailHelp" class="form-text">Este campo es requerido.</div>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-success">Buscar</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-secondary" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="avanzada">Busqueda avanzada</button>
        </div>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="m-2 card">
            <div class=" card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label for="anio" class="form-label">Año</label>
                        <select class="form-select" id="anio" formControlName="anio">
                            <option selected value="">Selecciona</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                        </select>
                    </div>
                    <div class="col-md-8">
                        <label for="programa" class="form-label">Programa</label>
                        <select class="form-select" id="programa" formControlName="programa">
                            <option selected value="">Selecciona</option>
                            @for (programa of programas ; track programa._id) {
                            <option [value]="programa._id">{{programa.nombre}}</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <label for="region" class="form-label">Región</label>
                        <select class="form-select" id="region" formControlName="region">
                            <option selected value="">Selecciona</option>
                            @for (region of regiones ; track region._id) {
                            <option [value]="region.region">{{region.region}}</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="distrito" class="form-label">Distrito</label>
                        <select class="form-select" id="distrito" formControlName="distrito">
                            <option selected value="">Selecciona</option>
                            @for (distrito of distritos ; track distrito.id) {
                            <option [value]="distrito._id">{{distrito.distrito}}</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="municipio" class="form-label">Municipio</label>
                        <select class="form-select" id="municipio" formControlName="municipio">
                            <option selected value="">Selecciona</option>
                            @for (municipio of municipios ; track municipio._id) {
                            <option [value]="municipio._id">{{municipio.nombre}}</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>